<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="set">
            <h2><span>Set</span> {{set.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Reps</span></dt>
                <dd>
                    <span>{{set.reps}}</span>
                </dd>
                <dt><span>Weight</span></dt>
                <dd>
                    <span>{{set.weight}}</span>
                </dd>
                <dt><span>Exercise</span></dt>
                <dd>
                    <span>{{set.exercise}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/set', set.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
