<div>
    <h2 id="page-heading">
        <span>Exercises</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-exercise" [routerLink]="['/exercise/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Exercise
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="exercises?.length === 0">
        <span>No exercises found</span>
    </div>
    <div class="table-responsive" *ngIf="exercises?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Type</span></th>
            <th><span>Body Parts</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let exercise of exercises ;trackBy: trackId">
                <td><a [routerLink]="['/exercise', exercise.id, 'view' ]">{{exercise.id}}</a></td>
                <td>{{exercise.name}}</td>
                <td>{{exercise.type}}</td>
                <td>{{exercise.bodyParts}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/exercise', exercise.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/exercise', exercise.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'exercise', { outlets: { popup: exercise.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
